.unas        {grid-area: unas;}
.deco        {grid-area: deco;}
.remocion    {grid-area: remocion;}
.top-banner  {grid-area: topbanner;}
.footer      {grid-area: footer}

.container {
    display: grid;
    gap: 7px;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-areas:

    "topbanner topbanner topbanner"
    "unas unas unas"
    "remocion remocion remocion"
    "deco deco deco"
    "footer footer footer"
    
;}

/* ----------------------------------------------------- No celulares */
@media (min-width: 1024px) {
    body{max-width: 80%;}
    .container {
        grid-template-areas:
    
        "topbanner topbanner topbanner"
        "unas remocion deco"
        "footer footer footer"
        
    ;}
}

@media (min-width: 800px) {
    .bannerimg {
        object-fit:fill;
        width: 100%;
        height: auto;
        padding-top: 20px;
    }
}