body{
    background: rgb(255,223,186); 
    background: linear-gradient(135deg, rgba(255,223,186,1) 0%, rgba(255,179,186,1) 25%, rgba(255,150,186,1) 50%, rgba(255,123,186,1) 75%, rgba(255,93,186,1) 100%);
    max-width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    font-family: 'Poppins';font-size: 22px;
}

/* rgba(255,223,186,1): Un tono suave de durazno, para comenzar el gradiente de manera ligera.
    rgba(255,179,186,1): Un rosa pastel, agregando un poco más de saturación.
    rgba(255,150,186,1): Un rosa más vivo, añadiendo calidez al gradiente.
    rgba(255,123,186,1): Un rosa fuerte, para dar más contraste.
    rgba(255,93,186,1): Un rosa brillante, para finalizar el gradiente con un color vibrante.*/

    
.top-banner {
    display: flex;
    overflow: hidden;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb;
    height: 95%;
    width: 95%;
    max-height: 175px;
    max-width: 1000px;
    border-radius: 30px;
    place-self: center;
}

.bannerimg {
    object-fit:cover;
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.footer {
    margin: 30px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    display: block;
    background-color: rgb(69, 0, 23);
}
    
.container {
        background: linear-gradient(135deg, 
        rgba(255, 255, 255, 0.8) 0%,   /* Color blanco con transparencia del 80% */
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.3) 100%
    );
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
        width:100%;
        margin: auto 0px;
        border-radius: 20px;
}

.titles {
    place-self: center;

    background: linear-gradient(45deg, 
    rgba(251, 173, 173, 0.6) 0%,   /* Blanco con transparencia del 60% */
    rgba(252, 252, 252, 0.4) 50%,  /* Gris claro con transparencia del 40% */
    rgba(234, 255, 2, 0.2) 100%  /* Gris más oscuro con transparencia del 20% */
    );

    text-align: justify;
    border-radius: 10px; /* Borde redondeado, ajusta según sea necesario */
    padding: 15px; /* Espaciado interno */
    max-width: 70%; /* Ajusta el ancho máximo del elemento */
    margin: 10px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.title{
    text-align: left;
}
.price {
    text-align: right;
}
.boton {
    background-color: #ffc0cb;
    border-color: yellow;
    border-radius: 10px;
    
}


.footer {
    border-radius: 10px;
    border: 1px solid #ffffff4a;
}
.footer-content {
    color: white;
}

.Gianee{display:none}