body{
    background-color: rgb(226, 187, 230);
    max-width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}
    
.container {
    width:100%;
    margin: auto 0px;
    background-color: antiquewhite;
    border-radius: 20px;
}

.top-banner {
    display: flex;
    overflow: hidden;
    margin: 15px;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb;
    height: 95%;
    width: 95%;
    max-height: 175px;
    max-width: 1000px;
    border-radius: 30px;
    place-self: center; /* Asegura que el contenedor se centre dentro de su celda de la grid */
}

.footer {
    margin: 30px;
    box-sizing: border-box;
    display: block;
    border-top: 1px solid #e6e6e6;
    background-color: rgb(69, 0, 23);
}

.footer-content {
    color: white;
}

.Gianee{display:none}