body{
    background-color: rgb(226, 187, 230);
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 1024px) { /* no celulares */
    body{
    max-width: 80%;}
}
    

.top-banner {
    display: flex;
    overflow: hidden;
    margin: 30px;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb;
    max-height: 30vh;
}

.footer {
    margin: 30px;
    box-sizing: border-box;
    display: block;
    border-top: 1px solid #e6e6e6;
    background-color: palevioletred;
}